{{template "base" .}}

{{define "title"}}
{{index .StringMap "title"}}
{{end}}

{{define "content"}}

<h2 class="mt-5">{{index .StringMap "title"}}</h2>
<span id="refunded" class="badge bg-danger d-none">Refunded</span>
<span id="charged" class="badge bg-success d-none">Charged</span>
<hr>

<div id="messages" class="alert alert-danger text-center d-none"></div>

<div>
    <strong>Order No:</strong> <span id="order-no"></span><br>
    <strong>Customer:</strong> <span id="customer"></span><br>
    <strong>Product:</strong> <span id="product"></span><br>
    <strong>Quantity:</strong> <span id="quantity"></span><br>
    <strong>Total Sale:</strong> <span id="amount"></span><br>
</div>

<hr>

<a href='{{index .StringMap "cancel"}}' class="btn btn-info">Cancel</a>
<a id="refund-btn" href="#!" class="btn btn-warning d-none">Refund Order</a>

<input type="hidden" id="pi" value="">
<input type="hidden" id="charge-amount" value="">
<input type="hidden" id="currency" value="">

{{end}}

{{define "js"}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let token = localStorage.getItem("token"); 
    let id = window.location.pathname.split("/").pop();
    let messages = document.getElementById("messages");

    function showError(msg) {
        messages.classList.add("alert-danger");
        messages.classList.remove("alert-success");
        messages.classList.remove("d-none");
        messages.innerText = msg;
    }

    function showSuccess(msg) {
        messages.classList.add("alert-success");
        messages.classList.remove("alert-danger");
        messages.classList.remove("d-none");
        messages.innerText = msg;
    }

    document.addEventListener("DOMContentLoaded", function() { 

        const requestOptions = {
            method: 'post', 
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token,
            }, 
        }

        // backend request
        fetch("{{.API}}/api/admin/get-sale/" + id, requestOptions)
        // response becomes response.json() 
        .then(response => response.json())
        // call back
        .then(function (data) {

            if (data) {
                document.getElementById("order-no").innerHTML = data.id;
                document.getElementById("customer").innerHTML = data.customer.first_name + " " + data.customer.last_name;
                document.getElementById("product").innerHTML = data.widget.name;
                document.getElementById("quantity").innerHTML = data.quantity;
                document.getElementById("amount").innerHTML = formatCurrency(data.transaction.amount, data.transaction.currency);
                document.getElementById("pi").value = data.transaction.payment_intent; 
                document.getElementById("charge-amount").value = data.transaction.amount; 
                document.getElementById("currency").value = data.transaction.currency;
                // 1 = normal charge
                if (data.status_id === 1) {
                    document.getElementById("refund-btn").classList.remove("d-none");
                    document.getElementById("charged").classList.remove("d-none");
                } else {
                    // refund charge
                    document.getElementById("refunded").classList.remove("d-none");
                }
            }
        })
    })

    function formatCurrency(amount, ticker) {
        let c = parseFloat(amount/100);
        return c.toLocaleString("en-US", {
            style: "currency", 
            currency: ticker.toUpperCase(),
        });
    }

    // execute function when user clicks refund-btn 
    document.getElementById("refund-btn").addEventListener("click", function() {
        // confirmation dialogue 
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to undo this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Refund'
        }).then((result) => {
            if (result.isConfirmed) {

                // Swal.fire(
                // 'Deleted!',
                // 'Your file has been deleted.',
                // 'success'
                // )

                let payload = {
                    pi: document.getElementById("pi").value,
                    currency: document.getElementById("currency").value,
                    amount: parseInt(document.getElementById("charge-amount").value, 10),
                    id: parseInt(id, 10),
                }

                const requestOptions = {
                    method: 'post', 
                    headers: {
                        'Accept': 'application/json', 
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token, 
                    },
                    body: JSON.stringify(payload),
                }
                
                fetch("{{.API}}/api/admin/refund", requestOptions)
                .then(response => response.json())
                .then(function(data) {
                    if (data.error) {
                        showError(data.message);
                    } else {
                        // success 
                        showSuccess("Charge refunded");
                        // hide refund button 
                        document.getElementById("refund-btn").classList.add("d-none");
                        document.getElementById("refunded").classList.remove("d-none");
                        document.getElementById("charged").classList.add("d-none");
                    }
                })
            }
        })
    })



</script>
{{end}}